# Symfony directories and files
bin/*
!/bin/.gitkeep
vendor/
app/bootstrap.php.cache
app/cache/*
app/logs/*
web/bundles/*
web/uploads/*
app/phpunit.xml
web/app_dev.php

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Vagrant
.vagrant

# Composer
composer.phar

# PhpStorm
.idea/

# Eclipse
.buildpath
.project
.settings/

# JS and CSS compiled files
web/css/style.css
web/js/scripts.js
web/js/libraries.js

# npm
node_modules/*
npm-debug.log

# node modules under git
!node_modules/autobahn
!node_modules/wamp.rt

# tests output
tests/_output/*
tests/_support/_generated

# php sessions
app/sessions
!app/sessions/.gitkeep
