# Symfony directories and files
bin/*
!/bin/.gitkeep
vendor/
app/bootstrap.php.cache
app/cache/*
app/logs/*
web/bundles/*
web/uploads/*
app/phpunit.xml
web/app_dev.php

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# PhpStorm
.idea/

# JS and CSS compiled files
web/css/style.css
web/js/scripts.js
web/js/libraries.js

# npm
node_modules/*

# node modules under git
!node_modules/autobahn
!node_modules/wamp.rt

tests/_output/*
/tests/_support/_generated
