/* Кнопка открытия инвентаря */
.open-inventory-button {
    position: absolute;
    background-color: #ffdb3f;
    width: 100px;
    margin: 20px 30%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.open-inventory-button:hover {
    background-color: #ff8400;
    cursor: pointer;
}

/* Кнопка закрытия инвентаря */
.game-inventory-close-button {
    position: absolute;
    background-color: #727266;
    padding: 16px;
    right: 0;
    display: inline-block;
    top: 0;
    cursor: pointer;
}

.game-inventory-close-button:hover {
    background-color: #c2c2b5;
}
