<!doctype html>
<html lang="ru">
<head>
    <title>{% block title %}Государство{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="description" content="Государство. Браузерная экономическая ролевая игра.">
    <meta name="keywords" content="игра, ролевая, браузерная, браузерка, государство, rpg">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
