<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ asset('js/autobahn.min.jgz') }}"></script>
    <title>Test</title>
</head>
<body>

<script>
    console.log("Ok, Autobahn loaded", autobahn.version);
</script>

<h1>test</h1>

</body>
</html>
