/* Общие классы */
.center {
    text-align: center;
}

.break-10 {
    display: block;
    margin-top: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; /* kde html format */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

/* Форма логина */
.login-block, .registration-block {
    margin: 20px auto;
}

.login-block button,
.registration-block button {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
}

/* Форма регистрации */
.fos_user_registration_register label,
.fos_user_registration_register input {
    width: 180px;
    display: inline-block;
}

#fos_user_registration_form div {
    padding-bottom: 5px;
}

/****** Игровые блоки ******/
#game-underlayer {
    position: absolute;
    background-image: url('../img/woods-background.png');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 2px #3D3D3D;
}

/* Блок "Основной Контент" */
#game-content {
    position: absolute;
    background-color: darkseagreen;
    top: 0;
    left: 0;
    width: 68%;
    height: 60%;
    padding: 5px;
    border: solid 2px #3D3D3D;
}

/* Блок "Карта" */
#game-map {
    position: absolute;
    background-image: url('../img/textures/wood1.jpg');
    top: 0;
    right: 0;
    padding: 5px;
    border: solid 2px black;
}

.map {
    margin-bottom: -3px;
}

.map .map-frame {
    display: inline-block;
    background-image: url('../img/locations/null.png');
    border: solid black 2px;
    width: 50px;
    height: 50px;
}

/* Блок "Чат" */
#game-chat {
    position: absolute;
    background-color: darkseagreen;
    bottom: 36px;
    left: 0;
    right: 0;
    height: 25%;
    padding: 5px;
    border: solid 2px #3D3D3D;
    overflow-y: auto;
}

div.game-chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div.game-chat-input input {
    background: white url('../img/chat-icon.png') no-repeat;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: solid 2px #3D3D3D;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    outline: none;
}
