.qtip-items {
    background-color: #CAED9E;
    border-color: #90D93F;
    color: #3F6219;
    font-size: 16px;
    line-height: 100%;
}

.qtip-items .qtip-titlebar {
    background-color: #B0DE78;
    padding: 10px;
    color: #3F6219;
    text-shadow: 0 0 4px white;
}

.qtip-items .qtip-content {
    padding: 10px;
}

.qtip-items .qtip-close .qtip-icon {
    background-position: -42px 0;
}
