{% extends '::base.html.twig' %}

{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/libraries.js') }}"></script>
{% endblock javascripts%}
