/* Общие классы */
.center {
    text-align: center;
}

.break-10 {
    display: block;
    margin-top: 10px;
}

.noselect {
    cursor: default;
    user-select: none;
}

.nointeract {
    pointer-events: none !important;
}

.button {
    box-shadow: inset 0 1px 0 0 #a6827e;
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 29px;
    text-decoration: none;
    text-shadow: 0 1px 0 #4d3534;
}

.button:hover {
    background-color: #634b30;
}

/* Анимационные эффекты */
.highlight {
    animation: blink 0.5s infinite alternate;
}

/* Серый фильтр для затемнения всей страницы */
#game-overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

#system-message {
    display: none;
    color: #fff;
    font-size: 25px;
    padding-top: 5%;
    position: absolute;
    text-align: center;
    padding-bottom: 5%;
    left: 0;
    right: 0;
    background-image: url('/img/textures/wood1.jpg');
    margin: 150px 300px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    z-index: 2;
}

/* Форма логина */
.login-block, .registration-block {
    margin: 20px auto;
}

.login-block button,
.registration-block button {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
}

/* Форма регистрации */
.fos_user_registration_register label,
.fos_user_registration_register input {
    width: 180px;
    display: inline-block;
}

#fos_user_registration_form div {
    padding-bottom: 5px;
}

/****** Игровые блоки ******/
#game-underlayer {
    position: absolute;
    background: url('/img/woods-background.png') right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 2px #3D3D3D;
}

/* Блок комнат и инвентаря */
#game-room,
#game-user-info,
#game-inventory {
    position: absolute;
    background-color: darkseagreen;
    top: 10px;
    left: 10px;
    width: 68%;
    height: 60%;
    padding: 5px;
    border: solid 2px #3D3D3D;
}

#game-inventory {
    background-color: #949376;
    display: none;
}

#game-user-info {
    background-color: #bebebe;
    display: none;
}

#game-user-info .title,
#game-inventory .title,
#game-room .room-name {
    background-color: rgba(255, 255, 255, 0.24);
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    height: 30px;
}

#game-room .room-name .coordinates {
    color: #565656;
    padding-left: 10px;
    font-size: smaller;
}

#game-room .room-description {
    display: inline-block;
    left: 0;
    width: 60%;
}

#game-room .room-resources-list {
    padding: 10px;
}

#game-room .room-resources-list .resource {
    font-weight: 900;
    margin-left: 50px;
}

#game-room .room-resources-list .resource.wood {
    color: #004604;
}

#game-room .room-actions {
    position: absolute;
    right: 0;
    padding: 30px;
    display: inline-block;
}

#game-room .room-description,
#game-room .room-players {
    padding: 10px;
    font-size: 18px;
}

#game-room .room-description {
    display: inline-block;
    vertical-align: top;
}

#game-room .room-players .user-info {
    font-weight: 900;
    color: #5d3118;
    cursor: pointer;
    display: inline-block;
}

#game-room .room-players .user-info:hover {
    color: #b06231;
}

/* Блок панелей слева */
.game-left-box {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Блок "Карта" */
#game-map {
    padding: 5px;
    background-image: url('/img/textures/wood1.jpg');
    border: solid 2px black;
}

.map {
    margin-bottom: -3px;
}

.map .map-frame {
    display: inline-block;
    border: solid black 2px;
    width: 50px;
    height: 50px;
}

.map .map-frame-player {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 2px;
    background: none;
    border: none;
}

/* Кнопки перехода в соседние локации */
.map .direction.arrow {
    background: none;
    height: 0;
    border-style: solid;
    cursor: pointer;
}

.map .direction.arrow img {
    display: none;
}

/* Север */
.map .north.arrow {
    width: 0;
    height: 10px;
    border-width: 0 27px 42px 27px;
    border-color: transparent transparent black transparent;
}

.map .north.arrow:hover {
    transition: border-bottom-color 0.5s ease-out;
    border-bottom-color: whitesmoke;
}

/* Запад */
.map .west.arrow {
    width: 10px;
    border-width: 25px 44px 25px 0;
    border-color: transparent black transparent transparent;
}

.map .west.arrow:hover {
    transition: border-right-color 0.5s ease-out;
    border-right-color: whitesmoke;
}

/* Восток */
.map .east.arrow {
    width: 10px;
    border-width: 25px 0 25px 44px;
    border-color: transparent transparent transparent black;
}

.map .east.arrow:hover {
    transition: border-left-color 0.5s ease-out;
    border-left-color: whitesmoke;
}

/* Юг */
.map .south.arrow {
    width: 0;
    height: 10px;
    border-width: 42px 27px 0 27px;
    border-color: black transparent transparent transparent;
}

.map .south.arrow:hover {
    transition: border-top-color 0.5s ease-out;
    border-top-color: whitesmoke;
}

/* Блок "Чат" */
#game-chat {
    position: absolute;
    background-color: #ceface;
    bottom: 36px;
    left: 0;
    right: 0;
    height: 25%;
    padding: 5px;
    border: solid 2px #3D3D3D;
    overflow-y: auto;
}

div.game-chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div.game-chat-input input {
    background: white url('/img/chat-icon.png') no-repeat;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: solid 2px #3D3D3D;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    outline: none;
}

/* Аватар игрока */
#game-user-info .avatar {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 10px;
}

/* Слоты одежды игрока */
#game-inventory .paperdoll {
    display: inline-block;
    right: 0;
    position: absolute;
    padding: 20px;
}

#game-inventory .paperdoll .slot,
#game-inventory .paperdoll .empty {
    display: inline-block;
    background-color: #806345;
    width: 50px;
    height: 50px;
    border: black 1px solid;
}

#game-inventory .items-list {
    padding: 20px;
    width: 75%;
    height: 80%;
}

#game-inventory .items-list .item {
    position: relative;
    display: inline-block;
}

#game-inventory .items-list .quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(197, 197, 197);
    padding: 1px 8px;
    font-family: fantasy;
    border: black 1px solid;
}

#game-inventory .money {
    position: absolute;
    right: 0;
    top: 300px;
    width: 185px;
    font-weight: 900;
}
